<%= live_component @socket, BdeWeb.Components.Sidebar, id: :sidebar, subtitle: '' %>
<main role="main" class="container content posts">
    <%= for post <- @posts do %>
        <%= live_component @socket, BdeWeb.Components.Post, post: post, link: true %>
    <% end %>
</main>
