<%= live_component @socket, BdeWeb.Components.Sidebar, id: :sidebar, subtitle: @current_post.title %>
<main role="main" class="container content post">
    <%= live_component @socket, BdeWeb.Components.Post, post: @current_post, link: false %>
</main>
